@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div  id="img-carousel">
    <h2>Welcome, please go to Reservations page to book a room.</h2>
<div class="carousel">
    <div class="image-container" id="imgs">
        <img src="/css/hotel.jpg" alt="img-1" />
        <img src="/css/hotel1.jpg" alt="img-2" />
        <img src="/css/hotel2.jpg" alt="img-3" />
        <img src="/css/hotel3.jpg" alt="img-4" />
    </div>
</div>
</div>
